# Day 1 - Basic of Python

reference : https://wikidocs.net/84356

## Types of Numbers
These are types of numbers:

- Boolean
- Integers
- Floating point

#### Boolean
- Booleans have two values: True, False.

In [30]:
a = True;
b = False;

if (a):
    print("a is True!")
    
if (b):
    print("b is True!")
else:
    print("b is False!")

a is True!
b is False!

Numerically, they're evaluated as integers with value 1(true), 0(false)

In [184]:
num = 0
if (num):
    print("num is true")
else:
    print("num is false")

num is false

#### Int
Int, or integer, is a whole number, positive or negative, without decimal points, of unlimited length.

In [167]:
a = 37 # Decimal
b = -299392993727716627377128481812241231
c = 0x7fa8      # Hexadecimal
d = 0o253       # Octal
e = 0b10001111  # Binary

In [38]:
print(f'a : {a}, b : {b}, c : {c}, d : {d}, e : {e}')

a : 37, b : -299392993727716627377128481812241231, c : 32680, d : 171, e : 143

#### Floating point(Float)
Use a decimal or exponential notation to specify a floating point value:

In [276]:
a = 37.45
b = -1.345e-10

Floats are represented as double precision using the native CPU representation IEEE 754(which is standard to represent floating point).   
This is the same as the ```double``` type in the programming language C.

Be aware that floating point numbers are inexact when representing decimals.

In [41]:
a = 2.1 + 4.2
a == 6.3

False

In [42]:
a

6.300000000000001

This is **not a Python issue**, but the floating point hardware on the CPU.

#### Operators
```python
x + y      Add
x - y      Subtract
x * y      Multiply
x / y      Divide
x // y     Floor Divide
x % y      Modulo
x ** y     Power
abs(x)     Absolute Value
```

Additional math functions are found in the ```math``` module.

```python
import math
a = math.sqrt(x)
b = math.sin(x)
c = math.cos(x)
d = math.tan(x)
e = math.log(x)
```

#### Comparisons
The following comparison / relational operators work with numbers:


```python
x < y      Less than
x <= y     Less than or equal
x > y      Greater than
x >= y     Greater than or equal
x == y     Equal to
x != y     Not equal to
```

#### Type Casting
The type name can be used to convert values:

In [49]:
a = int(10.5)    # Convert x to integer
b = float(10)  # Convert x to float

print(f'a = {a}, b = {b}')

a = 10, b = 10.0

#### Exercise

Lucky Larry bought 75 shares of Google stock at a price of \$235.14 per share.  

Today, shares of Google are priced at \$711.25.  
Using Pythonâ€™s interactive mode as a calculator, figure out how much profit Larry would make if he sold all of his shares.

In [1]:
# write code here!

How much profit does Larry make after his broker takes their 20% cut?

*** Tip: Use the underscore (_) variable to use the result of the last calculation. ***

In [2]:
# write code here!

## Strings

#### Representing Literal Text
String literals are written in programs with quotes.

Normally strings may only span a single line. Triple quotes capture all text enclosed across multiple lines including all formatting.

There is no difference between using single (') versus double (") quotes. The same type of quote used to start a string must be used to terminate it.

In [93]:
a = 'What a nice weather!'

b = "computer says no"

c = '''
Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0. 
Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. 
Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. 
Python 2 was discontinued with version 2.7.18 in 2020.
'''

#### String escape codes
Escape codes are used to represent control characters and characters that can't be easily typed directly at the keyboard. Here are some common escape codes:

```
'\n'      Line feed
'\r'      Carriage return
'\t'      Tab
'\''      Literal single quote
'\"'      Literal double quote
'\\'      Literal backslash
```

In [164]:
print('a\nb')

a
b

In [165]:
print('a\tb')

a	b

#### String Indexing
Strings work like an array for accessing individual characters.  
You use an integer index, starting at 0. Negative indices specify a position relative to the end of the string.

In [166]:
a = 'Hello world'
b = a[0]          # 'H'
c = a[4]          # 'o'
d = a[-1]         # 'd' (end of string)

print(b, c, d)

H o d

You can also slice or select substrings specifying a range of indices with ```:```  
The character at the ending index is not included. Missing indices assume the beginning or ending of the string.

In [55]:
d = a[:5]     # 'Hello'
e = a[6:]     # 'world'
f = a[3:8]    # 'lo wo'
g = a[-5:]    # 'world'

In [56]:
print(d, e, f, g)

Hello world lo wo world

#### String operations
Concatenation, length, membership and replication.

In [115]:
# concatenation
a = 'Hello' + 'World'
print(a)

a = 'Say ' + a
print(a)

# length
print(len(a))

# membership
print('W' in a)
print('W' not in a)

# replication
rep = 'Hello' * 3
print(rep)

HelloWorld
Say HelloWorld
14
True
False
HelloHelloHello

#### String methods

Strings have methods that perform various operations with the string data.

Example: stripping any leading / trailing white space.

In [57]:
s = '    Hello'
print(s.strip())

Hello

Example: Case conversion.

In [58]:
s = 'HeLLO WorlD'

print(s.lower())
print(s.upper())

hello world
HELLO WORLD

Example: Replacing text.

In [62]:
s = 'Hello world'
t = s.replace('Hello' , 'Hallo')   # 'Hallo world'
print(t)

Hallo world

#### More string methods:

Strings have a wide variety of other methods for testing and manipulating the text data. This is small sample of methods:

```python
s.endswith(suffix)     # Check if string ends with suffix
s.find(t)              # First occurrence of t in s
s.index(t)             # First occurrence of t in s
s.isalpha()            # Check if characters are alphabetic
s.isdigit()            # Check if characters are numeric
s.islower()            # Check if characters are lower-case
s.isupper()            # Check if characters are upper-case
s.join(slist)          # Joins lists using s as delimiter
s.lower()              # Convert to lower case
s.replace(old,new)     # Replace text
s.rfind(t)             # Search for t from end of string
s.rindex(t)            # Search for t from end of string
s.split([delim])       # Split string into list of substrings
s.startswith(prefix)   # Check if string starts with prefix
s.strip()              # Strip leading/trailing space
s.upper()              # Convert to upper case
```

```dir()``` produces a list of all operations that can appear after the dot(```.```).

In [63]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

 Use the ```help()``` command to get more information about a specific operation:

In [65]:
help(s.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

#### String Mutability

Strings are "immutable" or read-only. Once created, the value can't be changed.

In [66]:
a = 'Hello World'
a[5] = 'B'

TypeError: 'str' object does not support item assignment

#### String Conversions
Use ```str()``` to convert any value to a string. The result is a string holding the same text that would have been produced by the print() statement.

In [67]:
a = 42
str(a)

'42'

#### F-String
A string with formatted expression substitution.  
Note: This requires ***Python 3.6 or newer***.

In [261]:
name = 'IBM'
shares = 100
price = 91.1

print(f"Company name : {name}, shares : {shares}, price : {price}")

a = f'Cost = ${shares*price}'
print(a)

Company name : IBM, shares : 100, price : 91.1
Cost = $9110.0

## Collections - List, Dict, Tuple, Set
### List
Use square brackets to define a list:

In [79]:
names = ['Jack', 'Tom', 'Bill']

Sometimes lists are created by other methods. For example, a string can be split into a list using the ```split()``` method:

In [80]:
companies = "Google,Amazon,Apple,Tesla"

companies.split(",")

['Google', 'Amazon', 'Apple', 'Tesla']

#### List operations

Lists can hold items of any type. Add a new item using ```append()```

In [82]:
names.append('Murphy')    # Adds at end
names.insert(2, 'Aretha') # Inserts in middle
print(names)

['Jack', 'Tom', 'Aretha', 'Aretha', 'Bill', 'Murphy', 'Murphy']

Use ```+``` to concatenate lists:

In [83]:
s = [1, 2, 3]
t = ['a', 'b']
s + t           # [1, 2, 3, 'a', 'b']

[1, 2, 3, 'a', 'b']

Lists are indexed by integers. Starting at 0.

In [264]:
names = [ 'Elwood', 'Jake', 'Curtis' ]

names[0], names[1], names[2]

('Elwood', 'Jake', 'Curtis')

Negative index count from the end.

In [110]:
names[-1] # 'Curtis'

'Curtis'

In [265]:
names[-2:] # last two items in the array

['Jake', 'Curtis']

You can also slice or select elements specifying a range of indices with Colon ```:```  
Element at the ending index is not included.

In [111]:
names[0:1]

['Elwood']

There is a step parameter. so if you want to have only every 2-nd element of names, use step parameter.

In [114]:
names[0::2]

['Elwood', 'Curtis']

You can change any item in a list.

In [90]:
names[0] = 'Tommy'
names

['Tommy', 'Jake', 'Curtis']

Length of the list.

In [91]:
print(names)
len(names)

['Tommy', 'Jake', 'Curtis']

3

Membership test (```in```, ```not in```).

In [93]:
'Curtis' in names ,'Britney' not in names

(True, True)

Replication (```s * n```).

In [94]:
s = [1, 2, 3]
s * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

To find the position of something quickly, use ```index()```.

In [96]:
names = ['Elwood','Jake','Curtis']
names.index('Curtis')

2

You can remove items either by element value or by index:

In [97]:
# Using the value
names.remove('Curtis')

# Using the index
del names[1]

#### List Sorting

In [99]:
s = [10, 1, 7, 3]
s.sort()                    # [1, 3, 7, 10]
print(s)

# Reverse order
s = [10, 1, 7, 3]
s.sort(reverse=True)        # [10, 7, 3, 1]
print(s)

[1, 3, 7, 10]
[10, 7, 3, 1]

Use ```sorted()``` if you'd like to make a new list instead:

In [101]:
t = sorted(s)               # s unchanged, t holds sorted values
print(t, s)

[1, 3, 7, 10] [10, 7, 3, 1]

#### Exercise
Use indexing to output the array backwards. The output result should be ['Harry', 'Bill', 'Jack', 'Tom'].

In [7]:
names = ['Tom', 'Jack', 'Bill', 'Harry']

# write code here!

#### List Comprehension
A list comprehension creates a new list by applying an operation to each element of a sequence.

The general syntax is: ```[ <expression> for <variable_name> in <sequence> ]```

In [188]:
a = [1,2,3,4,5]

b = [2 * i for i in a]
print(b)

[2, 4, 6, 8, 10]

In [191]:
names = ['TOM', 'HARRY']

names_lower = [name.lower() for name in names]
print(names_lower)

['tom', 'harry']

You can also filter during the list comprehension.

``` [ <expression> for <variable_name> in <sequence> if <condition>] ```

In [115]:
[i for i in range(1,101) if (i % 2) == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

#### Exercise
Let's say Harry owns the following shares, print out shares that are priced above $100 and have more than 50 shares(Use List comprehension)

In [209]:
stocks = [
    {'name':'Samsung', 'price' : 134, 'shares' : 60},
    {'name':'IBM', 'price' : 91, 'shares' : 60},
    {'name':'Apple', 'price' : 150, 'shares' : 100},
    {'name':'Microsoft', 'price' : 300, 'shares' : 25},
    {'name':'Dell', 'price' : 82, 'shares' : 21},
    {'name':'Delta', 'price' : 129, 'shares' : 124}
]

In [8]:
# Write code here

### Dict
A dictionary is mapping of keys and values. The keys serve as indices for accessing values.

In [121]:
capital = {'Korea':'Seoul', 'Japan':'Tokyo', 'America':'Washington D.C'}

To get values from a dictionary use the key names.

In [123]:
capital['Korea']

'Seoul'

To add or modify values, assign using the key names.

In [125]:
capital['Uzbekistan'] = 'Tashkent'

In [126]:
capital

{'Korea': 'Seoul',
 'Japan': 'Tokyo',
 'America': 'Washington D.C',
 'Uzbekistan': 'Tashkent'}

To delete a value, use the del statement.

In [127]:
del capital['Japan']

In [128]:
print(capital)

{'Korea': 'Seoul', 'America': 'Washington D.C', 'Uzbekistan': 'Tashkent'}

#### Why dictionaries?

Dictionaries are useful when there are many different values and those values might be modified or manipulated.  
Dictionaries make your code more readable.

In [130]:
stock = ['APPL', 100, 140.25] # name, shares, price

In [132]:
stock_dict = {"name" : "APPL", "shares" : 100, "price" : 140.25}

same result, but stock_dict\['price'\] is more readable.

In [134]:
stock[2], stock_dict['price']

(140.25, 140.25)

#### Exercise

You can make Dictionary using comprehension.  
Using Dictionary Comprehension, Create a Dictionary with stock names as keys and stock prices as values.

In [259]:
stocks = [
    {'name':'Samsung', 'price' : 134, 'shares' : 60},
    {'name':'IBM', 'price' : 91, 'shares' : 60},
    {'name':'Apple', 'price' : 150, 'shares' : 100},
    {'name':'Microsoft', 'price' : 300, 'shares' : 25},
    {'name':'Dell', 'price' : 82, 'shares' : 21},
    {'name':'Delta', 'price' : 129, 'shares' : 124}
]

In [9]:
# write code here!

### Tuple
- A tuple is a collection of values grouped together.

In [135]:
s = ('GOOG', 100, 490.1)

Tuple are indexed by integers. Starting at 0.

In [137]:
name = s[0] # 'GOOG'
shares = s[1] # 100
price = s[2] # 490.1

print(name, shares, price)

GOOG 100 490.1

Contents in Tuple can't be modified.

In [138]:
s[0] = 'APPL'

TypeError: 'tuple' object does not support item assignment

#### Tuple unpacking

To use the tuple elsewhere, you can unpack its parts into variables.

In [140]:
name, shares, price = s

print(name, shares, price)

APPL 100 490.1

The number of variables on the left must match the tuple structure.

In [141]:
names, shares = s

ValueError: too many values to unpack (expected 2)

#### Tuple vs Lists
Tuples look like read-only lists.  
However, tuples are most often used for a single item consisting of multiple parts. Lists are usually a collection of distinct items, usually all of the same type.

In [142]:
record = ('GOOG', 100, 490.1)       # A tuple representing a record in a portfolio

symbols = [ 'GOOG', 'AAPL', 'IBM' ]  # A List representing three stock symbols

### Set
Set is an unordered and unindexed collection of items in Python.  

```python
tech_stocks = {'IBM','AAPL','MSFT'}
tech_stocks = set(['IBM', 'AAPL', 'MSFT'])
```

In [180]:
b[2] # cannot access

TypeError: 'set' object is not subscriptable

Sets are useful for duplicate elimination.

In [178]:
a = [3, 1, 1, 2, 2, 4, 5, 6]

b = set(a)

In [179]:
print(b)

{1, 2, 3, 4, 5, 6}

### If - Else

In [281]:
a = 3
if a == 1:
    print("A is 1")
elif a == 2:
    print("A is 2")
else:
    print("A is neither 1 nor 2")

A is neither 1 nor 2

### For

In [182]:
names = ['Tom', 'Harry', 'Jack']
for name in names:
    print(name)

Tom
Harry
Jack

Use ```enumerate()``` to get a counter in a loop

In [183]:
# enumerate
for index, name in enumerate(names):
    print(f'number : {index} , name : {name}')

number : 0 , name : Tom
number : 1 , name : Harry
number : 2 , name : Jack

### While
With the while loop we can execute a set of statements as long as a condition is true.

```python
while (condition):
    action
```

In [42]:
a = 0;

while (a < 5):
    a += 1
    print(a)

1
2
3
4
5

### Exercises

#### Exercise 1
Get a number from a user, print the factorial of n.

```factorial of 5 = 5 ! = 5 * 4 * 3 * 2 * 1```

In [10]:
# write code here

#### Exercise 2
Let's take the number n and write it down so that it's drawn from 1 to n stars.

```
*
**
***
****
*****
```

In [11]:
# write code here!

#### Exercise  3

Dave has decided to take out a 30-year fixed rate mortgage of `$` 500,000. The interest rate is 5\% and the monthly payment is `$`2684.11.

Here is a program that calculates the total amount that Dave will have to pay over the life of the mortgage:

In [161]:
principal = 500000.0
rate = 0.05
payment = 2684.11
total_paid = 0.0

while principal > 0:
    principal = principal * (1+ rate / 12) - payment
    total_paid = total_paid + payment

print('Total paid', total_paid)

Total paid 966279.5999999957

Suppose Dave pays an extra $1000/month for the first 12 months of the mortgage.

Modify the program to incorporate this extra payment and have it print the total amount paid along with the number of months required.  
When you run the new program, it should report a total payment of 929,965.62 over 342 months.

In [12]:
# Write code here!