# Pandas
Library for intuitive relational or classified data operations
- Table format data with columns of type, such as SQL tables or Excel
- Packages that allow data to be handled in table form for data scientists (excel for python)
- Sorted and Unsorted Time Series Data
- Can be used effectively to process statistical data
- Mainly used instead of existing data processing library numpy
- Decisive library that makes data analytics accessible to the public
- Built-in high-level functions that are sufficient for data analysis with pandas alone
- Data structures that will be used primarily in the future data analysis process

In [1]:
import numpy as np
import pandas as pd

print(f'numpy=={np.__version__}')
print(f'pandas=={pd.__version__}')

numpy==1.21.6
pandas==1.3.5

## DataFrame

- Used to process tabular data with rows and columns
  - Tabular data in a two-dimensional format (2D data structure)
- There are many ways to make it
  - For each column, you can also enter a dict represented by {column name: row}
  
    (Key of dictionary in column, row as value)
  - Convert to DataFrame data structure in pandas using pd.DataFrame()\

In [2]:
data = {
    'A' : 1., 
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' }
df = pd.DataFrame(data)

print(df)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Quick view data formats and examples
- DataFrame.head()
- DataFrame.tail()

In [3]:
df.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [4]:
df.tail(3)

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Can type in a format such as list of rows

(In this case, set the column name)

In [5]:
data = [
    (29, 'mid',  'cloudy'),
    (34, 'high', 'sunny'),
    (36, 'high', 'rainy'),
    (32, 'mid',  'cloudy'),
    (30, 'low',  'sunny')
]
date = pd.date_range('20190601', periods=len(data), freq='D')
columns = 'temporature humidity weather'.split()

df = pd.DataFrame(data, columns=columns, index=date)
df

            temporature humidity weather
2019-06-01           29      mid  cloudy
2019-06-02           34     high   sunny
2019-06-03           36     high   rainy
2019-06-04           32      mid  cloudy
2019-06-05           30      low   sunny

## Data I/O

### Read data
`read_csv` : Read csv file & save as 'DataFrame' format

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
cd /content/drive/MyDrive/AllforOne/Lecture/Day8/Pandas

/content/drive/MyDrive/AllforOne/Lecture/Day8/Pandas

In [8]:
df = pd.read_csv('pima-indians-diabetes.data', delimiter=',')
df.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

- Recognize the first line as column names
- If there is no header, set it to `None`
- You can attach the column

In [9]:
columns = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

df = pd.read_csv('pima-indians-diabetes.data', header=None)
df.columns = columns
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

`describe` function calculates simple statistics.

In [10]:
df.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

URL can be the file directory

In [11]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
df = pd.read_csv(url, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Save data
`to_csv` : Save 'DataFrame' format data to csv file

In [12]:
data = [
    (29, 'mid',  'cloudy'),
    (34, 'high', 'sunny'),
    (36, 'high', 'rainy'),
    (32, 'mid',  'cloudy'),
    (30, 'low',  'sunny')
]
date = pd.date_range('20220801', periods=len(data), freq='D')
columns = 'temporature humidity weather'.split()

df = pd.DataFrame(data, columns=columns, index=date)
df

            temporature humidity weather
2022-08-01           29      mid  cloudy
2022-08-02           34     high   sunny
2022-08-03           36     high   rainy
2022-08-04           32      mid  cloudy
2022-08-05           30      low   sunny

In [13]:
df.to_csv('weather.csv')

## Select

If you select more than one column, you can get DataFrame

In [14]:
sub_df = df[['temporature', 'weather']]
sub_df

            temporature weather
2022-08-01           29  cloudy
2022-08-02           34   sunny
2022-08-03           36   rainy
2022-08-04           32  cloudy
2022-08-05           30   sunny

You can select the row by label name or index

- loc : Select row using label name
- iloc : Select row using index

In [15]:
df.loc['2022-08-03']

temporature       36
humidity        high
weather        rainy
Name: 2022-08-03 00:00:00, dtype: object

In [16]:
df.iloc[0:3]

            temporature humidity weather
2022-08-01           29      mid  cloudy
2022-08-02           34     high   sunny
2022-08-03           36     high   rainy

You can select the row by comparison operator
- And = &
- Or = |

In [17]:
df['play'] = (df['temporature'] <= 30) & (df['weather'] == 'sunny') 
df

            temporature humidity weather   play
2022-08-01           29      mid  cloudy  False
2022-08-02           34     high   sunny  False
2022-08-03           36     high   rainy  False
2022-08-04           32      mid  cloudy  False
2022-08-05           30      low   sunny   True

In [18]:
df['play'] = (df['temporature'] <= 30) | (df['weather'] != 'rainy') 
df

            temporature humidity weather   play
2022-08-01           29      mid  cloudy   True
2022-08-02           34     high   sunny   True
2022-08-03           36     high   rainy  False
2022-08-04           32      mid  cloudy   True
2022-08-05           30      low   sunny   True

## Group by

Merge data based on a specific column

Data needs to be aggregated and summarized in groups during analysis

- Pansdas has functionality for aggregation
- Can be aggregated by one column or multiple columns in a data frame
- **Splitting** data into multiple groups based on several criteria
- **Applying** functions independently to each group
- **Combining** results into a single data structure
- **Groupby** used to combine the same values into one to obtain statistics or aggregate results

In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame({ 'city': ['Toshkent', 'Toshkent', 'Toshkent', 'Toshkent', 'Seoul', 'Seoul', 'Seoul'],
'fruits': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
'price': [100, 200, 250, 300, 150, 200, 400],
'quantity': [1, 2, 3, 4, 5, 6, 7] })

In [20]:
df

       city  fruits  price  quantity
0  Toshkent   apple    100         1
1  Toshkent  orange    200         2
2  Toshkent  banana    250         3
3  Toshkent  banana    300         4
4     Seoul   apple    150         5
5     Seoul   apple    200         6
6     Seoul  banana    400         7

Mean of 'city' column

In [21]:
df.groupby('city').mean()

          price  quantity
city
Seoul     250.0       6.0
Toshkent  212.5       2.5

Mean of fruit value by city

In [22]:
df.groupby(['city', 'fruits']).mean()

                 price  quantity
city     fruits
Seoul    apple   175.0       5.5
         banana  400.0       7.0
Toshkent apple   100.0       1.0
         banana  275.0       3.5
         orange  200.0       2.0

In [23]:
df.groupby(['city', 'fruits'], as_index=False).mean() # If you use index

       city  fruits  price  quantity
0     Seoul   apple  175.0       5.5
1     Seoul  banana  400.0       7.0
2  Toshkent   apple  100.0       1.0
3  Toshkent  banana  275.0       3.5
4  Toshkent  orange  200.0       2.0